In [14]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

df = pd.read_csv("clening data.csv")
print(df.info())   # Check data types
print(df.describe())  # Summary stats for validation

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None
                 id       host_id      latitude     longitude         price  \
count  4.889500e+04  4.889500e+04  48895.000000  48895.000000  48895.000000
mean   1.901714e+07  6.762001e+07     40.728949    -73.952170    152.720687
std    1.098311e+07  7.861097e+07      0.054530      0.046157    240.154170
min    2.539000e+03  2.438000e+03     40.499790    -74.244420      0.000000
25%    9.471945e+06  7.822033e+06     40.690100    -73.983070     69.000000
50%    1.967728e+07  3.079382e+07     40.723070    -73.955680    106.000000
75%    2.915218e+07  1.074344e+08     40.763115    -73.936275    175.000000
max    3.648724e+07  2.743213e+08     40.913060    -73.712990  10000.000000

       minimum_nights  number_of_reviews  reviews_per_month  \
count    48895.000000       48895.000000       38843.000000
mean         7.029962          23.274466           1.373221
std         20.510550          44.550582           1.680442
min          1.000000           0.000000           0.010000
25%          1.000000           1.000000           0.190000
50%          3.000000           5.000000           0.720000
75%          5.000000          24.000000           2.020000
max       1250.000000         629.000000          58.500000

       calculated_host_listings_count  availability_365
count                    48895.000000      48895.000000
mean                         7.143982        112.781327
std                         32.952519        131.622289
min                          1.000000          0.000000
25%                          1.000000          0.000000
50%                          1.000000         45.000000
75%                          2.000000        227.000000
max                        327.000000        365.000000

In [15]:
# Drop rows with missing values
df = df.dropna()   # drops any row with at least one NaN
# Or impute with median
# Median of numeric columns
medians = df.median(numeric_only=True)

# Fill NaN with median values
df.fillna(medians, inplace=True)

In [16]:
df = df.drop_duplicates()

In [21]:
# Safe way for categorical column
df.loc[:, 'neighbourhood'] = df['neighbourhood'].str.lower()
# Create the scaler object
scaler = StandardScaler()

# Safe way for numeric scaling
df.loc[:, ['price','host_id']] = scaler.fit_transform(df[['price','host_id']])
cols_to_scale = ['price']   # only continuous variables
df.loc[:, cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

In [22]:
# IQR method
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

outliers = df[(df['price'] < (Q1 - 1.5 * IQR)) | (df['price'] > (Q3 + 1.5 * IQR))]
print("Outliers detected:", outliers)

# Remove outliers
df = df[~df.index.isin(outliers.index)]

Outliers detected:              id                                               name   host_id  \
20         7801                   Sweet and Spacious Brooklyn Loft -0.843682
82        19169                   Entire 2 Bedroom - Large & Sunny -0.842988
191       48719  Designer 1 BR Duplex w/ Terrace- Spectacular V... -0.840999
223       57754                       Stylish Large Gramercy Loft! -0.840281
254       62925                        Beautiful Landmarked Duplex -0.839864
...         ...                                                ...       ...
47792  35916694        New Sophisticated 4BR/2.5BA NYC Midtown Apt  0.696030
47840  35943649     SoHa Bliss - Central Park North 2 Bed / 1 Bath  2.769880
47994  36029624            Lovely Two Bedroom Next to Central Park  2.083722
48057  36062290          True 1 bedroom, with add'l pull out couch -0.717168
48096  36077745        AMAZING LARGE ONE BEDROOM IN WILLIAMSBURG!!  2.722599

      host_name neighbourhood_group      neighbourhood  latitude  longitude  \
20        Chaya            Brooklyn       williamsburg  40.71842  -73.95718
82       JoLynn           Manhattan    lower east side  40.71851  -73.98892
191       Shane           Manhattan    lower east side  40.71882  -73.98852
223           R           Manhattan  flatiron district  40.74030  -73.98498
254        Maya            Brooklyn         greenpoint  40.72945  -73.95511
...         ...                 ...                ...       ...        ...
47792    Leslie           Manhattan        murray hill  40.74865  -73.98158
47840     Aidas           Manhattan             harlem  40.79965  -73.95157
47994  Danielle           Manhattan    upper west side  40.78635  -73.97636
48057      Gail           Manhattan       west village  40.73669  -74.00100
48096     Haily            Brooklyn       williamsburg  40.71527  -73.93852

             room_type     price  minimum_nights  number_of_reviews  \
20     Entire home/apt  2.792787               3                  9
82     Entire home/apt  2.577568               5                 70
191    Entire home/apt  2.792787               2                109
223    Entire home/apt  2.885023               2                108
254    Entire home/apt  2.577568               3                124
...                ...       ...             ...                ...
47792  Entire home/apt  2.792787               3                  1
47840  Entire home/apt  2.808159               3                  2
47994  Entire home/apt  2.485332               5                  2
48057  Entire home/apt  2.808159               2                  1
48096  Entire home/apt  2.792787               3                  2

      last_review  reviews_per_month  calculated_host_listings_count  \
20     28-12-2011               0.07                               1
82     30-06-2019               0.62                               1
191    15-06-2019               1.04                               1
223    30-06-2019               1.09                               1
254    16-06-2019               1.22                               3
...           ...                ...                             ...
47792  29-06-2019               1.00                               1
47840  01-07-2019               2.00                               1
47994  02-07-2019               2.00                               1
48057  01-07-2019               1.00                               1
48096  03-07-2019               2.00                               1

       availability_365
20                    0
82                  328
191                 207
223                 201
254                 279
...                 ...
47792               187
47840               349
47994               346
48057                28
48096               178

[964 rows x 16 columns]

In [23]:
df.to_csv("cleaned_dataset.csv", index=False)